body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 20px;
  background: #63961c;
  color: white;
  height: 700px;
  background-size: 90%;
  background-repeat: no-repeat;
  background-image: url('./images/paw-heart.png');
  background-position-x: 575px;
  background-position-y: 260px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.title :link {
 
  text-decoration: none;
  text-align: center;
}

.title :visited {
  color: black;
}

.title {

  border-radius: 25px;
  border: none;
  color:black;
  font-size: 90px;
  text-align: center;
  background-color:yellow;
  padding:13px;
 
}

 .button :link  {
   text-decoration: none;
   color: white;
   background-color: blueviolet;
   font-size: 20px;
 }

 .button {
  border-radius: 25px;
  border-color: blueviolet;
  color: white;
  background-color:blueviolet;
  font-size: 20px;
  position: relative;
  padding: 7px;
 }

 .button :visited {
   color:white;
 }

 #new-pet-button :visited {
   color: white;
 }

 #new-pet-button {
  text-decoration: none;
  padding: 20px;
  color: white;
  position: absolute;
  top:10px;
  right:120px;
  color: white;
  text-align: center;
  font-size: 18px;
  border-radius: 25px;
  border: none;
  background-color: blue;
  width: 130px;
  }

 #logout-button {
   position: absolute;
   top:10px;
   right:12px;
   color: white;
   text-align: center;
   font-size: 18px;
   border-radius: 25px;
   border: none;
   background-color: orangered;
   width: 100px;
   height: 60px;
 }

 #edit-button {
  text-decoration: none;
  padding: 15px;
  color: white;
  text-align: center;
  font-size: 18px;
  border-radius: 25px;
  border: none;
  background-color: blue;

 }


.pet-cards {
  text-align: center;
  margin:35px;
  margin-top: 5px;
  float: left;
  width: fit-content;
  height: fit-content;
  font-size: 30px;
  background-color:#73AD21;
  border-radius: 25px;
  border: solid 0.3em;
  border-color:yellow;
  border-width: 10px;

}

#pet-image {
  max-width: 460px;
  max-height: 460px;
  position: relative;
  border: solid 0.3em;
  border-width: 5px; 
}

.pet-info-form {
  background-color:mediumblue;
  border-radius: 25px;
  width:fit-content;
  height: fit-content;
  padding:40px;
  margin: auto;
  text-align: left;
  position: absolute;

}

input {
  padding: 10px;
  margin: 10px;
  
}

#choose-file {
  font-size: 18px;
  margin-bottom:35px;
}


#gif-container {
  float:left;
  text-align: center;
  
}

.giphy-embed {
  width: 480px;
  height: 270px;
  padding: 5px;
}

.health-tips {
  float: left;
  background-color: black;
  border-radius: 25px;
  padding:20px;
  margin-bottom:20px;
  margin-top: 10px;
  font-size: 20px;
}

#calendar {
  font-size: 18px;
  
}

.text {
  background-color:black;
  border-radius: 25px;
  text-align: center;
  padding:22px;
  font-size: 25px;

}

#welcome-nav {
  color:white;
  font-size: 30px;
  width: fit-content;
}

#gif-link {
  background-color: #63961c;
}



